html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    line-height: 1.4;
}


* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: #404040;
    font-family: "Arial", Segoe UI, Tahoma, sans-serifl, Helvetica Neue, Helvetica;
}

.section-profile-user .profile-user-body,
.section-profile-user {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.section-profile-user .profile-user-header {
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(#B873FF, transparent);
    margin-bottom: 1.25rem;
}

.section-profile-user .profile-user-cover-page {
    display: block;
    position: relative;
    width: 90%;
    height: 17rem;
    background: linear-gradient(45deg, #BC3CFF, #317FFF);
    border-radius: 0 0 20px 20px;
}

.section-profile-user .profile-user-cover-page .button-cover-page {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 0;
    border-radius: 8px;
    padding: 12px 25px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    cursor: pointer;
}

.section-profile-user .profile-user-cover-page .button-cover-page i {
    margin-right: 1rem;
}

.section-profile-user .profile-user-avatar {
    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 7px solid #FFFFFF;
    background-color: #DFE5F2;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    bottom: -40px;
    left: calc(50% - 90px);
    z-index: 1;
}

.section-profile-user .profile-user-avatar img {
    width: 100%;
    position: relative;
    border-radius: 50%;
}

.section-profile-user .profile-user-avatar .button-avatar {
    position: absolute;
    left: -2px;
    top: -2px;
    border: 0;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.section-profile-user .profile-user-body {
    width: 70%;
    position: relative;
    max-width: 750px;
}

.section-profile-user .profile-user-body .title {
    display: block;
    width: 100%;
    font-size: 1.75em;
    margin-bottom: 0.5rem;
}

.section-profile-user .profile-user-body .text {
    color: #848484;
    font-size: 0.95em;
}

.section-profile-user .profile-user-footer,
.section-profile-user .profile-user-bio {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
}

.section-profile-user .profile-user-bio {
    margin-bottom: 1.25rem;
    text-align: center;
}

.section-profile-user .list-data {
    width: 50%;
    list-style: none;
}

.section-profile-user .list-data li {
    padding: 5px 0;
}

.section-profile-user .list-data li>.icon {
    margin-right: 1rem;
    font-size: 1.2rem;
    vertical-align: middle;
}

.section-profile-user .social-media {
    position: absolute;
    right: calc(0px - 50px - 1rem);
    top: 0;
    display: flex;
    flex-direction: column;
}

.section-profile-user .social-media .button-social-media {
    border: 0;
    background-color: #fff;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    font-size: 1.3rem;
}

.section-profile-user .social-media .button-social-media+.button-social-media {
    margin-top: .5rem;
}

.section-profile-user .button-social-media.github {
    background-color: #5955FF;
}

.section-profile-user .button-social-media.dev {
    background-color: #35E1BF;
}

.section-profile-user .button-social-media.linkedin {
    background: linear-gradient(45deg, #FF2DFD, #40A7FF);
}

/* Responsive */
@media (max-width: 750px) {
    .section-profile-user .list-data {
        width: 100%;
    }

    .section-profile-user .profile-user-cover-page,
    .section-profile-user .profile-user-body {
        width: 95%;
    }

    .section-profile-user .social-media {
        position: relative;
        flex-direction: row;
        width: 100%;
        left: 0;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        align-items: center;
        justify-content: center
    }

    .section-profile-user .social-media .boton-social-media+.boton-social-media {
        margin-left: 1rem;
        margin-top: 0;
    }
}
